* {
  text-decoration: none;
}
.sidebar {
  width: 200px;
  height: 300px;
  margin-left: 40px;
  
  margin-top:40px ;
  
  background: #fff;
  padding: 20px;
 
 
}

.logo {
  font-size: 18px;
  margin-bottom: 30px;
}

.nav button {
  font-family: Arial, Helvetica, sans-serif;
  
  display: block;
  width: 200px;
  
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  font-weight: 500;
  padding-left: 20px;
  /* border: 1px solid red; */
  
}

.nav button.active {
  background-color: #ddd;
  border-radius: 8px;
  text-decoration: none;
}

button:hover {
  background-color: #ddd;
  border-radius: 8px;
  text-decoration: none;
}



