.container {
    display: flex;
    font-family: sans-serif;
  }
  


 

  
  .main {
    flex: 1;
    padding: 40px;
    background-color: #f1f2f6;
    border-top-left-radius: 24px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
  }
  
  .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .field {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .field label {
    margin-bottom: 6px;
    font-weight: 500;
  }
  
  .field input,
  .field select,
  .field textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submitButton {
    margin-top: 20px;
    background: #e0e0e0;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .popup {
    font-size: 300%;
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование по обоим осям */
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон */
    color: white; /* Цвет текста */
    padding: 20px; /* Отступы внутри попапа */
    border-radius: 10px; /* Закругленные углы */
    z-index: 1000; /* Убедитесь, что попап выше других элементов */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Тень для эффекта глубины */
  }