.container {
  display: flex;
  width: 1400px;
  height: 903px;
}

.mainContent {
  flex: 1;
  margin-top: 40px;
  padding: 30px;
  background-color: #f3f4f6;
  border-top-left-radius: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createBtn {
  width: 186px;
  height: 47px;
  border-radius: 24px;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500px;
  color: #000;
  cursor: pointer;
  background-color: #d1d2d6;
}

/* .sectionTitle {
  margin-top: 40px;
} */

.projectList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.title {
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 32px;
}

.btn_link :hover{
  border-radius: 24px;
  

}
